body {
    background-color: rgba(1, 1, 7, 0.9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-top: 3%;
}
h1 {
    font-family: 'helvetica, sans-serif';
    font-size: 90px;
    position: relative;
    top: 0%;
    background: url('imgs/download.jpg');
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 4px rgba(5, 5, 45, 0.3);
    background-position-x: 25%;
    background-position-y: 12%;
}
.weight-label, .planet-label{
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: rgb(54, 127, 236);
    margin-left: 50px;
    text-shadow: 4px 4px 4px rgba(5, 5, 45, 0.3);
}
#planetImage {
    width: 500px;
    height: auto;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
} 
#resultText{
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    color: black;
    margin-top: 2%;
    padding: 0;
    border-radius: 10px;
    background: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    animation: pulseAnimation 1s infinite;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: none;
    transition: all 0.3s ease-in-out;
}
#resultText:hover {
    transform: scale(1.05);
    cursor: pointer;
}

